<div class="jumbotron">
    <h1 class="display-4">BugOverflow Bug tracker</h1>
    <div class="overlay"></div>
</div>
<div class="container">
    <div class="row">
        <% @bugs.each do |bug| %>
            <%= render 'bugs/card', bug: bug %>
        <% end %>
    </div>
</div>
