<div class="col-md-4">
    <div class="bug">
        <h2 class="title"><%= bug.title %></h2>
        <p class="description">
            <%= bug.description %>
        </p>
        <p class="author">
        <%= link_to 'View Bug >', bug, class: 'btn btn-primary' %>
        </p>
    </div>
</div>
